@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root{
    --main-color:#284990;
    --black-color: #252525;
    --border: 0.1rem solid rgba(255, 255, 255, 0.4);
}

*{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s ease;
    outline: none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-margin-top: 9rem;
    scroll-behavior: smooth;
}

body{
    background-color: var(--main-color);
}

section{
    padding: 3.5rem 7%;
}

img{
    width: 100%;
    object-fit: cover;
}

a{
    text-decoration: none;
    color: var(--black-color);
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 2rem 3.75rem;
    border-radius: 30px;
    font-size: 1.7rem;
    color: #fff;
    background-color: var(--black-color);
}

.btn:hover{
    opacity: 0.8;
}

.heading{
    color: #fff;
    text-transform: uppercase;
    font-size: 4rem;
    margin-bottom: 3.5rem;
    border-bottom: 0.1rem solid #fff;
}

.heading span{
    text-transform: uppercase;
    color: var(--black-color);
}

.box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.box{
    padding: 3rem;
    background-color: #fff;
    border-radius: 3rem 2rem;
    min-height: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border: var(--border);
}

::-webkit-scrollbar{
    height: 0.5rem;
    width: 1rem;
    background-color: rgb(7, 126, 182);
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    border-radius: 3rem;
    background-color: greenyellow;
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgb(211, 255, 144);
}

/* ------------------------------------------HEADER SECTION */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 0 7%;
    margin: 2rem 7%;
    border-radius: 30rem;
    box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.75);
    position: sticky;
    top: 0;
}

.header .logo img{
    height: 9rem;
}

.header .navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color: var(--black-color);
    border-bottom: 0.2rem solid transparent;
}

.header .navbar a.active,
.header .navbar a:hover{
    border-color: var(--main-color);
    padding-bottom:.5rem ;
}

.header .buttons button{
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
    background-color: transparent;
    cursor: pointer;
}
/* ------------------------------------------HEADER SECTION */


/* ------------------------------------------HOME SECTION */

.home{
    min-height: 100vh;
    background: url(./image/pizza-with-turkey-bacon-orange-and-cashew-nuts-2022-03-29-07-33-54-utc.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -134px;
    display: flex;
    align-items: center;
}

.home .content{
    max-width: 60rem;
}

.home .content h3{
    font-size: 6rem;
    color: #fff;
}

.home .content p{
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.8;
    padding: 1rem 0;
    color: #fff;
}

/* ------------------------------------------HOME SECTION */

/* ------------------------------------------MENU SECTION */
/* img .box-container ve .box  genel olarak düzenlendi */

.menu .box-container .menu-category{
    font-size: 1.2rem;
    text-transform: uppercase;
}

.menu .box-container .box h3{
    font-size: 3rem;
    padding: 1rem 0;
}

.menu .box-container .box .price{
    font-size: 2.5rem;
    padding: 0.5rem 0;
}

.menu .box-container .box .price span{
    text-decoration: line-through;
    font-size: 1.5rem;
}
/* ------------------------------------------MENU SECTION */


/* ------------------------------------------PRODUCTS SECTION */
.products .box-container .box .box-head{
    display: flex;
    flex-direction: column;
    align-items: start;
    z-index: 10;
}
.products .box-container .box .box-head .title{
    font-size: 1.4rem;
}

.products .box-container .box-head .name{
    font-size: 4rem;
    font-weight: bold;
    text-align: start;
    overflow-wrap: anywhere;
}

.products .box-container .box .box-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.products .box-container .box .box-bottom .info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.products .box-container .box-bottom .info .price{
    font-size: 3rem;
}
.products .box-container .box-bottom .info .amount{
    font-size: 1.5rem;
}

.products .box-container  .box-bottom .product-btn a{
    display: flex; 
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 6.5rem;
    height: 6.5rem;
    border: 0.2rem solid var(--main-color);
}

.products .box-container  .box-bottom .product-btn a i{
    font-size: 1.6rem;
    color: var(--main-color);
}

/* ------------------------------------------PRODUCTS SECTION */

/* ------------------------------------------ABOUT US SECTION */
.about .container .image{
     flex: 1 1 45rem;
}
/* img  genel olarak düzenlendi */

.about .container{
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
}

.about .container .content{
    flex: 1 1 45rem;
}

.about .container .content h3{
    font-size: 3rem;
    color: #fff;
}

.about .container .content p{
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;
}
/* ------------------------------------------ABOUT US SECTION */
/* ------------------------------------------REVIEW SECTION */
/* img .box-container ve .box  genel olarak düzenlendi */
.review .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    padding: 2rem 0;
}

.review .box-container .box .user{
    height: 7rem;
    object-fit: contain;
}

.review .box-container .box .h3{
    padding: 1rem 0;
    font-size: 2rem;
    color: var(--main-color);
}

.review .box-container .box .stars{
    font-size: 1.5rem;
    color: gold;
}
/* ------------------------------------------REVIEW SECTION */

/* ------------------------------------------CONTACT SECTION */








/* ------------------------------------------CONTACT SECTION */